# Meadow S3 Publishing Configuration

# If you want to specify a different Meadow home directory location
# (Default is ~/Library/Application Support/Meadow/MeadowHome on macOS)
# MEADOW_HOME_DIRECTORY_OVERRIDE=/some/other/path/to/a/folder
